$whitecolor : white;
$gray-slow : #F9F9F9;
$dark-pink: #FF7481;
$gradient: linear-gradient(74.1deg, #F9A753 8.09%, #FF6573 93.21%);
$gradient-item: radial-gradient(50% 50% at 50% 50%, #FFFEFE 0%, #E8E8E8 100%);
