$small-size: 12px;
$medium-size:14px;
$large-size:18px;
$big-size:24px;

%h2-text{
    font-weight: bold;
    font-size: $big-size;
}

%title-text{
    font-weight: bold;
    font-size: $large-size;
}

%medium-text-bold {
    font-weight: bold;
    font-size: $medium-size;
}

%medium-text-regular {
    font-weight: 400;
    font-size: $medium-size;
    color: #5B5B5B;
}
%medium-text-regular-black {
    font-weight: 400;
    font-size: $medium-size;
    color: black;
}