@import 'colors';

.button-container{
    width: 100%;
    height: 61px ;
    background-color: white;
    position: fixed;
    bottom: 0;
    
    display: flex;
    flex-flow: column nowrap;
    // align-items: center;
    justify-content: center;

}