@import "colors";
@import "fonts";

.opening-hours-container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    img{
        width: 20%;
        margin: 10px;
    }

    .table-card{
        min-width: 55%;
        margin: 10px;
        padding: 10px 15px;

        .text-hours{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            color: $gray-text;
            text-align: center;

            span{
                font-weight: bold;
                color: black;                
            }
        }
    }

}