@import 'fonts';
@import 'colors';

.product-card-container{
    width:160px ;
    // max-width: 160px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
    
    
    .product-image-container{
        
        width: 147px;
        height: 128px;
        // background-color: gray;
        border-radius: 5px;
        margin-top: 5px;
        flex: 0 0 auto;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        
        img{
            height: 100%;
        }
    }

    .product-price{
        width: 85%;
        margin: 5px;
        text-align: left;
        font-weight: bold;
    }
    .product-name{
        width: 85%;
        margin: 5px;
        @extend %medium-text-regular-black;
    }
    .product-quantity{
        font-size: $small-size;
        color:$gray-text;
        text-align: left;
        width: 85%;
        margin: 5px;
    }
}